.heartCheckBox {
  cursor: pointer;
}
.heartCheckBox__box::after {
  content: url(../../images/elements/heart_active.svg);
}

.heartCheckBox__input:checked + .heartCheckBox__box {
  opacity: 1;
  content: url(../../images/elements/heart_active.svg);
}
